@font-face {
  font-family: Minecraftia;
  src: url(../public/fonts/Minecraftia.ttf);
}

@font-face {
  font-family: Monofonto;
  src: url(../public/fonts/Monofonto.otf);
}

* {
  font-family: Minecraftia;
}
