@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

svg,
.backdrop {
  display: none;
}

.right-wizard #pxlwz {
  transform: scale(-1.2) scaleY(-1);
}
.right-wizard .token {
  transform: scaleX(-1);
  transform-origin: center;
  transform-box: fill-box;
}

@media (min-width: 768px) {
  .left-wizard #pxlwz {
    transform: scale(150%);
  }
  .right-wizard #pxlwz {
    transform: scale(-1.5) scaleY(-1);
  }
}

svg .token {
  opacity: 1;
}
